<div class="row">
  {{animation-workspace model=model}}
  <div class="col-md-3">
    {{preview-animation model=model}}
    {{stencil-object-list model=model}}
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    {{download-button model=model}}
  </div>
</div>
