<div class="row">
  {{animation-workspace model=model}}
  {{preview-animation model=model}}
  {{stencil-object-list}}
</div>
<div class="row">
  <div class="col-md-1">
    {{download-button model=model}}
  </div>
</div>
