{{curve-interpolate dataGenerated="dataGenerated" model=model}}
{{preview-animation model=model}}

{{#if pngURL}}
<a href={{pngURL}} class="btn btn-default" download="spritesheet">Download</a>
{{/if}}
