<canvas id="canvas" width="500" height="300"></canvas>
{{curve-interpolate dataGenerated="dataGenerated" model=model}}
{{preview-animation model=model}}

{{#if pngURL}}
<a href={{pngURL}} class="btn btn-default">Link</a>
{{/if}}
