<div class="row text-center">
  <svg
    width={{width}}
    height={{height}}
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
  ></svg>
</div>
<div class="row text-center">
  <div class="btn-group frame-selector" data-toggle="buttons">
    {{#each frames as |frame index|}}
      <label class="btn btn-primary" {{action "selectFrame" index}}>
        <input type="radio" name="options">{{frame}}
      </label>
    {{/each}}
  </div>
</div>
